* html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 1rem;
}

/* Navbar */
.navbar {
  padding: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #e35d6a;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}
.navbar-brand img {
  width: 50%;
}
.navbar-brand {
  width: 50%;
}
.navbar-toggler {
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  padding: 0;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  padding-top: 2rem;
}
button:focus:not(:focus-visible) {
  outline: 0;
  border: none !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.navbar-brand {
  width: 50%;
}
.navbar-brand img {
  width: 70%;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 100)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}
a:hover {
  color: #e35d6a !important;
}
a.disabled {
  color: #afaeaa !important;
}
a.link-contacto {
  color: #e35d6a;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}
a.link-contacto:hover {
  color: #242424 !important;
}

/* Cards */
.card {
  border: none;
  border-radius: 1rem;
  background-color: #141719;
  color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-text {
  margin-bottom: 2rem;
}
.image-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Hero Section */
.hero-section {
  background-image: url('../imgs/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* Basics */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 600 !important;
  line-height: 120%;
}
h2 {
  font-weight: 600 !important;
  line-height: 120%;
}
h3 {
  font-weight: 600 !important;
  line-height: 120%;
}
.icon {
  color: #e35d6a;
}

/* Btns */
.btn-outline-primary {
  border-color: #ffffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 0.8rem 1.3rem;
  color: white;
}
.btn-outline-primary:hover {
  background-color: #ffffff;
  color: #e35d6a;
  border-color: #ffffff;
}
.btn-outline-primary:focus:not(:focus-visible) {
  outline: 0;
  border: none !important;
}
.btn-outline-primary:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.btn-primary {
  background-color: #e35d6a;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.8rem 1.3rem;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #e35d6a;
}
.btn-primary:focus:not(:focus-visible) {
  outline: 0;
  border: none !important;
}
.btn-primary:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.hero-btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Sections */
.educacion,
.experiencia {
  background-color: #0e0d0d;
  color: white;
}

.about {
  background-color: #242424;
  color: white;
}
.img-rotate {
  transform: rotate(5deg);
  z-index: 10;
}
.img-bbs:hover {
  box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.921),
    0 6px 20px 0 rgba(3, 3, 3, 0.383);
  z-index: 1;
}
/* .imgs-block { 
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
*/
span.underline-heading {
  color: white;
  padding-bottom: 0.5rem;
  border-bottom: #e35d6a solid 0.25rem !important;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 3;
}
.section-heading {
  font-size: 3rem;
}
.section-heading-lg {
  font-size: 3rem;
}
.text-img {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 0.5rem;
}
.text-img img {
  width: 100%;
  border-radius: 0.75rem;
}
.text-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

/* Accordion */
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0rem;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: left;
  background-color: #0e0d0d;
  border-bottom: #afaeaa solid 0.15rem;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('../imgs/icons/arrow-up.svg');
  transform: rotate(-180deg);
}
.accordion-button:focus:not(:focus-visible) {
  outline: 0;
  border: none !important;
}
.accordion-button:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: '';
  background-image: url('../imgs/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-item {
  background-color: #0e0d0d;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #0e0d0d;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.date {
  color: #e35d6a;
  font-size: 0.8rem;
}

/* Form */
.form-control {
  border-radius: 0.75rem;
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
}

/* Proyectos */
.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  /* margin-right: calc(-0.5* var(--bs-gutter-x)); */
  /* margin-left: calc(-0.5* var(--bs-gutter-x)); */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row img {
  width: 100%;
}
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 520px;
    margin: 0 auto;
    padding: 1rem;
  }
  .hero-section {
    height: 90vh;
  }
  .navbar-brand img {
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
    padding: 1rem;
  }
  .navbar-brand img {
    width: 35%;
  }
  .section-heading-lg {
    font-size: 5rem;
  }
  footer img {
    width: 80%;
  }
  h2 {
    font-size: 1.8rem;
  }
  .hero-btn-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .hero-section {
    height: 80vh;
  }
  .text-img {
    gap: 0.1rem;
  }
  .accordion-button {
    padding: 1rem 1.25rem;
  }
  .text-img img {
    width: 80%;
  }
  .img-rotate {
    transform: rotate(10deg);
    z-index: 10;
  }
  /* .imgs-block { 
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  */
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 956px;
    margin: 0 auto;
    padding: 1rem;
  }
  .navbar-brand img {
    width: 35%;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
  .navbar-collapse {
    padding-top: 0;
  }
  .nav-link {
    font-size: 0.9rem;
  }
  .hero-section {
    height: 80vh !important;
  }
  .text-img img {
    width: 100%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1024px;
    margin: 0 auto;
    padding: 1rem;
  }
  footer img {
    width: 20%;
  }
  h2 {
    font-size: 2rem;
  }
  .navbar-brand img {
    width: 35%;
  }
  .hero-section {
    height: 100vh !important;
  }
  .nav-link {
    font-size: 1rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1140px;
    margin: 0 auto;
    padding: 1rem;
  }
  .hero-section {
    height: 90vh;
  }
  .navbar-brand img {
    width: 30%;
  }
}
